
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
Body {
    color: rgb(8, 134, 197);
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(255, 255, 255);
}
    
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
}
   
.titulo{
    color: #2a4673;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;   
    }

header{
    width: 100%;
    height: 600px;
    background: #159957;  /* fallback for old browsers */
    background: linear-gradient(to left, hsla(210, 76%, 34%, 0.607), hsla(150, 76%, 34%, 0.607)), url(/assets/paneles-solares-matriz.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsla(210, 76%, 34%, 0.607), hsla(150, 76%, 34%, 0.607)), url(/assets/paneles-solares-matriz.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.menu__item a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

.menu__item a:hover{
    color: #b8e8d0;
    font-weight: 300;
    text-decoration: underline;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration:underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    animation: flipInX;
    animation-duration: 2s;
}

.textos-header h1{
    font-size: 70px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-beneficios{
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center; 
}

.imagen-beneficios{
    width: 100%;
    
}

.beneficios .contenido-texto{
    width: 80%;
    animation: fadeInTopRight;
}


.iconoiframe{

animation: pulse;
animation-duration: 1s;
animation-iteration-count: infinite;
}

.contenido-texto h3{
    margin-bottom: 10px;
}

.contenido-texto h3 span{
    background: rgb(2, 113, 2);
    color: #fff;
    border-radius: 40%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 1px;
}

.contenido-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.contenido-texto2{
    width: 40%;
    text-align: center;
    margin-right: 100px;
}

.contenido-texto2 h3{
    margin-top: 10px;

}
.contenido-texto2 p{
    margin-top: 20px;
    
}
.contenedor-sobre-beneficios2{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
}

/*GALERIA NUESTROS TRABAJOS*/
.nuestros-trabajos{
    background: hsla(183, 97%, 41%, 0.084);
}

.galeria-trab{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagentrab{
    width: 33%;
    margin-bottom: 10px;
    height: 180px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagentrab > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}
#cursor{
    color: #fff;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(148, 98%, 33%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagentrab:hover .hover-galeria{
    transform: scale(1);
}
/*Nuestros clientes*/
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: linear-gradient(to left, rgba(21, 87, 153, 0.607), hsla(150, 76%, 34%, 0.607));
    display:flex;
    width: 45%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.contenido-texto-card{
    width: 60%;
    color: #fff;
}

.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
    text-align: center;
}
.contenido-texto-card h4{
    text-align: center;
}

/*Nuestros servicios*/
.sobre-servicios{
    background: hsla(130, 94%, 40%, 0.084);
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 30%;
    text-align: center;
}

.servicio-ind img{
    width: 60%;
}
.servicio-ind h3{
    margin: 10px 2px 5px 2px; 
    text-align: center;   
}

.servicio-ind p{
    font-weight: 300;
    text-align: center;
}


/* formulario*/ 
:root{
    --succes-color: #2ecc71;;
    --error-color: #e74c3c;
}


.sobre-formulario{

    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: rgba(114, 114, 114, 0.13);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 800px;
    margin: 15px;
    
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    color:#777;
    display: block;
    margin-bottom: 5px; 
}
 
.form-control input
{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;   
}

.form-control textarea
{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;   
}

.form-control input:focus{
    outline: 0;
    border-color: #777;

}

.form-control.success input {
    border-color: var(--succes-color);
}

.form-control.error input {
    border-color: var(--error-color);    
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}
.elboton{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin-top:20px;
    width: 780px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }



/* footer*/ 

footer{
    background: rgba(38, 151, 207, 0.72);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid rgb(8, 134, 197);
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content-foo p{
    color: #fff;
     
}

.maps{
    text-decoration: none;

}
.hover1:hover {
    color: #159957;
    font-weight: bold;
    transform: scale(1.2);
}

.titulo-final{
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color:rgba(21, 87, 153, 0.607)
}




@media screen and (max-width: 970px){
    .container{
        width: 590px;
        margin: 5px;        

    }
    .elboton{
        width:570px;
        
    }
    .textos-header h1, h2{
        font-size: 60px;
    }
}


@media screen and (max-width: 880px){
    .content-foo{
        font-size: 13px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .contenedor-footer{
        width: 100%;
    }
    .galeria-trab {
        display: grid;
        grid-template-columns: repeat(2, auto);
        
    }
        .imagentrab {
            width: 95%;
    }

    .contenedor-sobre-beneficios2 {
        display: grid;
        grid-template-columns: repeat(1,auto);
        margin-top: 5rem;
    }
    .contenido-texto2 {
        width: 80%;
        text-align: center;
        margin: auto;
        margin-bottom: 4rem;
        font-size: larger;
    }
    #youtube{
        margin: auto;
    }

    .contenedor-sobre-beneficios {
        display: grid;
        grid-template-columns: 40% 60%;
        justify-items: center;
        align-content: center;
    }
}
  
@media screen and (max-width:670px){
    .clientes {
            width: 100%;
    
        }
    
    
        .cards .card {
            width: 90%;
            height: 200px;
    
    
        }
    
        .cards {
            flex-direction: column;
            align-items: center;
        }
    
        .card1 {
            margin-bottom: 2rem;
        }
}

@media screen and (max-width:600px){
    .container{
        width: 400px
    }
    .elboton{
        width: 380px
    }
    .contenedor-footer{
        flex-direction: column;
    }
    .content-foo{
        font-size: 15px;
        padding-bottom: 8px;
        margin-bottom: 5px;
        padding-top: 8px;
    }
    .content-foo h4 {
        color: #fff;
        border-bottom: none;
        padding-bottom: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .servicio-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .servicio-ind {
        width: 60%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .servicio-ind img {
        width: 50%;
    }
    
    
   
    .galeria-trab {
    display: grid;
    grid-template-columns: repeat(1, auto);

    }

    .imagentrab {
    width: 100%;
    }
    
    .contenedor-sobre-beneficios {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
    }
    .imagen-beneficios {
            width: 60%;
            
    
    }
    .imagen-benef{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #youtube{
        width: 400px;
        margin: auto;
    }

}




